*.patch
/.benchmarks
/.coverage
/.mypy_cache
/.pytest_cache
/.venv*
/build
/include/cargo
/perf.*
/target
/vendor
__pycache__
*.pyc
.pytest_cache
benchmark_*.svg
.coverage
.benchmarks
.mypy_cache
vendor
build
!json/perfect_float.patch
.idea
python/**/*.so
